<div class="banner" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.2) 50%), url(<%= image_path 'woods.jpg' %>);">
  <a id="banner-anchor"></a>
  <div class="container banner-flexbox">
    <div class="banner-content">
      <h1>PETER FIENNES</h1>
      <p>Writer, editor, publisher</p>
    </div>
    <div class="arrow-container bounce">
      <%= image_tag "white-arrow.png", class: "anchor", id: "arrow" %>
    </div>
  </div>
</div>
<div id="oaaat">
  <a class="anchor" id="oaaat-anchor"></a>
  <h1>OAK AND ASH AND THORN</h1>
  <div class="container">
    <div class="row">
      <div class="book-content">
        <div class="book-left col-xs-12 col-md-4">
          <%= image_tag "oaaat.jpg", class: "book-cover" %>
          <%= link_to "Buy Now", "https://www.amazon.co.uk/Oak-Ash-Thorn-Ancient-Forests/dp/1786071665", class: "buy-button", id: "oaaat-button", target: :_blank %>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-right">
            <p class="book-description">The magic and mystery of the woods are embedded in culture, from ancient folklore to modern  literature. They offer us refuge: a place to play, a place to think. They are the generous providers of timber and energy. They let us dream of other ways of living. Yet we now face a future where taking a walk in the woods is consigned to the tales we tell our children.<br><br>Immersing himself in the beauty of woodland Britain, Peter Fiennes explores our long relationship with the woods and the sad and violent story of how so many have been lost. Just as we need them, our woods need us too. But who, if anyone, is looking out for them?</p>
            <hr class="right-separator">
            <div class="reviews row">
              <div class="review col-xs-12 col-md-4">
                <p class="review-content">"Extraordinary... Set to become a classic of the genre"</p>
                <p class="review-author"><em>Observer</em></p>
              </div>
              <div class="review col-xs-12 col-md-4 left-review">
                <p class="review-content">"A passionate ramble through Britain's complicated relationship with its woodland"</p>
                <p class="review-author"><em>Daily Mail</em></p>
              </div>
              <div class="review col-xs-12 col-md-4 right-review">
                <p class="review-content">"A joy of a book and a delight to read"</p>
                <p class="review-author"><em>The Great Outdoors</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="twwg">
  <a class="anchor" id="twwg-anchor"></a>
  <h1>TO WAR WITH GOD</h1>
  <div class="container">
    <div class="row">
      <div class="book-content">
        <div class="book-left col-xs-12 col-md-4">
          <%= image_tag "twwg.png", class: "book-cover" %>
          <%= link_to "Buy Now", "https://www.amazon.co.uk/War-God-Army-Chaplain-Faith/dp/178057553X", class: "buy-button", target: :_blank %>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-right">
            <p class="book-description">To War With God is the moving account of Anglican chaplain Edward Montmorency 'Monty' Guilford's service in the First World War. Written by his grandson, it draws on first-hand material, including Monty's diaries, photographs and letters, tracing his journey from his first days on the Somme through the mud and terror of Cambrai to Belgium and the Army of Occupation. Along the way, Monty won the MC but lost his faith.<br><br>The book also looks at the war lives of four men who had a powerful influence on Monty: his beloved brother-in-law Jack Bigger, who went missing after only days at the Front; his friend 'Pullthrough', a poet and author of scintillating letters; Private Joseph Bateman, executed for desertion, who spent his last night with Monty; and Dick Sheppard, the pacifist preacher who helped Monty back to health after the war.</p>
            <hr class="right-separator">
            <div class="reviews row">
              <div class="review col-xs-12 col-md-4 left-review">
                <p class="review-content">"A haunting biography"</p>
                <p class="review-author"><em>The Scotsman</em></p>
              </div>
              <div class="review col-xs-12 col-md-4">
                <p class="review-content">"Deeply moving, thoughtful, true and often funny"</p>
                <p class="review-author"><em>The Tablet</em></p>
              </div>
              <div class="review col-xs-12 col-md-4 right-review">
                <p class="review-content">"Moving and poignant"</p>
                <p class="review-author"><em>Church Times</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="media">
  <a class="anchor" id="media-anchor"></a>
  <div class="container">
    <h1>MEDIA</h1>
    <div class="media-content row">
      <div class="youtube-container col-xs-12 col-md-7">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Snl_i01dGKI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="youtube"></iframe>
        <p id="youtube-description">A real-time history of the woods of Britain, from 5000 BCE to today, in just two minutes, 22 seconds. Set to 'You'll Lose a Good Thing' by Barbara Lynn.</p>
      </div>
      <div class="twitter-container col-xs-12 col-md-5">
        <a class="twitter-timeline" data-width="400" data-height="420" data-theme="light" href="https://twitter.com/pfiennes?ref_src=twsrc%5Etfw">Tweets by pfiennes</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
<div id="about-contact">
  <a class="anchor" id="about-anchor"></a>
  <div class="container">
    <div class="about-container">
      <h1 id="about-header">ABOUT</h1>
      <a id="contact-underline-anchor"></a>
      <div class="row about-content">
        <div class="col-xs-12 col-md-8">
          <p id="about-description">I was the publisher at Time Out for many years, where I produced hundreds of books and magazines, including their London and travel guides. I have written two books. The first, <span class="about-link" id="twwg-about-link">To War with God</span>, tells the story of my grandfather's time as an Army Chaplain at the front in World War I. It has been adapted into a play by Artless. The second, <span class="about-link" id="oaaat-about-link">Oak and Ash and Thorn</span>: the Ancient Woods and New Forests of Britain', looks at our long and complicated relationship with the woods and trees: their magic and mystery, culture, folklore, conservation  and the grim history of their loss. I'm now busy writing my next book... a trip around Britain in the footsteps of famous writers, to be published by Oneworld in 2019. I have also recently edited my uncle David Fiennes' memoirs, <span class="about-link"><a href="https://www.amazon.co.uk/Call-Me-Tuan-David-Fiennes/dp/1527225240/ref=sr_1_1?s=books&ie=UTF8&qid=1540157829&sr=1-1&keywords=call+me+tuan+fiennes" target="_blank" id="tuan-about-link">Call Me Tuan</a></span>, the remarkable account of his working life in pre- and post-war Malaysia. I have contributed articles to The Times, the Independent, the Daily Mail, the Big Issue and others.</p>
        </div>
        <div class ="pic-div col-xs-12 col-sm-4">
          <%= image_tag "pete.jpg", id: "pete-pic" %>
        </div>
      </div>
    </div>
    <hr class="about-separator">
    <div id="contact">
      <a class="anchor" id="contact-anchor"></a>
      <h1>CONTACT</h1>
      <p id="contact-content">For all enquiries (features, guided walks, talks, etc) please contact my agent Rebecca Winfield: rebecca@rebeccawinfield.com</p>
    </div>
  </div>
</div>
